





body{
    background-color: cornsilk;
    margin: auto;
    margin-top: 7%;
    padding: 0%;

}





article{
    background-color: rgb(107, 30, 180);
    width: 900px;
    height: 800px;
    float: none;
    margin: auto;
    padding :10px;
    border-radius: 15px;
}   

/*IDs*/

#tab{

    border-color: rgb(14, 1, 14);
}